h1 {
  text-align center;
}
p { 
  text-align center:
}
p2 { 
    text-align center:
    }
body {
  background-color: lightblue;
}
    p.test1 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: clip;
}

p.test2 {
  white-space: nowrap;
  width: 200px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
}
