h1 {
  text-align: center;
}
 #demo { 
  
 }
.Carousel-image {
   height: 500px;
   
 }
 

 h1 {
	 text-align:center;
 }

.centered-image {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 50%;
}

.image-class-1 {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 26%;
}

.image-class-2 {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-3 {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 26%;
}

.image-class-4 {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-5 {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-6 {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-7 {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-8 {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-9 {
  display: block;
  margin-left: 30px;
  margin-right: 30px;
  width: 26%;
}
p {
	margin-left: 200px;
}
.testing {
	color: red;
}

