h1 {
  text-align: center;
}
 #demo { 
  
 }
.Carousel-image {
   height: 500px;
   
 }
 





.image-class-1 {
  display: block;
  margin-left: 700px;
  margin-right: 30px;
  width: 26%;
}

.image-class-2 {
  display: block;
  margin-left: 700px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-3 {
  display: block;
  margin-left: 700px;
  margin-right: 30px;
  width: 26%;
}

.image-class-4 {
  display: block;
  margin-left: 700px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-5 {
  display: block;
  margin-left: 700px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-6 {
  display: block;
  margin-left: 700px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-7 {
  display: block;
  margin-left: 700px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-8 {
  display: block;
  margin-left: 700px;
  margin-right: 30px;
  width: 26%;
 
}

.image-class-9 {
  display: block;
  margin-left: 700px;
  margin-right: 30px;
  width: 26%;
}


p {
	text-align: center;
}
.text1{
	display: none;
}

.text2{
	display: none;
}
.text3{
	display: none;
}
.text4{
	display: none;
}
.text5{
	display: none;
}
.text6{
	display: none;
}
.text7{
	display: none;
}
.text8{
	display: none;
}
.text9{
	display: none;
}


